/******ECRAN EN 950*******/

@media screen and (max-width: 950px){

    /***NAV BAR***/
    .menu-bouton{
        display: none;
    }
    #menu-burger{
        display: block;
    }

    /***SECTION 1***/
    .article-1{
        text-align: center;
        margin-left: 0;
    }
    .souligne-texte-rose{
        background-position: 259px 293px;
    }

    /***SECTION 2***/
    .conteneur-carte.conteneur-carte-en-ligne{
        padding-top: 770px;
    }

    /**SECTION 3***/
    
}