/******ECRAN EN 950*******/

@media screen and (max-width: 950px){

    /***NAV BAR***/
    .menu-bouton{
        display: none;
    }
    #menu-burger{
        display: block;
    }

    /***SECTION 1***/
    

    /***SECTION 2***/
    
    .bouton-jaune2{
        margin: 30px;
    }

    /**SECTION 3***/
    #section3{
        padding: 0;
    }
    .conteneur-video{
        margin-left: 10%;
    }
    .video-lecture-bouton{
        margin-left: 190px;
    }

    .voyage-gastronomique{
        text-align: left;
        margin-left: 10%;
        font-size: 40px;
    }
    .texte-blanc{
        text-align: left;
        margin-left: 10%;
        font-size: 15px;
    }
    .photos-hors-champs img{
        height: 593px;
        margin-top: 300px;
    }

    /***SECTION 4***/
    #section4{
        margin-top: 280px;
        padding: 50px 0px;
    }
    .rapide-et-pratique{
        margin-left: 10%;
        text-align: left;
    }
    .commandez{
        text-align: left;
        margin-left: 10%;
    }
    .conteneur-commandes{
        margin-left: -10%;
    }
    .bouton-jaune3{
        margin-left: 10%;
        margin-bottom: 20px;
    }

    /***SECTION 5***/
    .envoyer{
        margin-left: 40px;
    }

    /***FOOTER***/
    footer{
        padding-bottom: 200px;
    }
    .copyright{
        position: relative;
        padding-bottom: 30px;
    }
}


/*****************ECRAN 656PX**********************/
@media screen and (max-width: 656px){

    /***SECTION 1***/
    .article-1{
        padding-right: 50px;
        text-align: center;
    }
    .texte-couleur-saumon{
        font-size: 14px;
    }
    .souligne-texte-rose{
        font-size: 50px;
        background-size: 280px;
        background-position: 155px 100%;
    }
    .texte-couleur-gris-1{
        font-size: 12px;
    }


    /***SECTION 3***/
    .texte-blanc{
        display: none;
    }
    .voyage-gastronomique{
        display: none;
    }
    .conteneur-video{
        margin:0;
    }
    .conteneur-video img{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .video-lecture-bouton{
        top: -220px
    }
    #section3{
        background: none;
    }
    .petit-chef img{
        width: 100%;
        display: block;
        margin-top: -165px;
    }
    .photos-hors-champs img{
        width: 100%;
        margin: 0;
    }
    .photos-hors-champs{
        margin-top: auto;
    }

    /***SECTION 4***/

    #section4{
        background-image: none;
        margin-top: 830px;
        text-align: center;
    }
    .rapide-et-pratique{
        text-align: center;
        margin-left: 20px;
    }
    .commandez{
        text-align: center;
        font-size: 30px;
    }
    .texte-couleur-saumon{
        font-size: 40px;
    }
    .bouton-jaune3{
        margin-left: 10px;
    }


    /***SECTION 5***/
    .forme-droite{
        display: none;
    }

    .forme-gauche{
        border-radius: 30px;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    input{
        text-align: center;
    }
    .email{
        display: block;
    }
    .message{
        display: block;
    }
    .envoyer{
        margin: 50px;
    }


    /***FOOTER***/

    .conteneur-elements{
        padding-top: 50px;
    }
    .copyright{
        padding: 0;
    }
}



/**************ECRAN 320PX**************/

@media screen and (max-width: 320px){

    .texte-couleur-saumon{
        font-size: 20px;
    }
    h2{
        font-size: 25px;
    }

    .souligne-texte-rose{
        font-size: 35px;
        background-position-x: 40px;
        background-position-y: 240px;
        background-size: 200px;
    }
    .bouton-jaune{
        font-size: 12px;
        padding: 10px 15px;
    }

    /********SECTION 2********/
    #section2{
        padding: 0;
        padding-top: 100px;
    }
    .plat{
        width: 250px;
    }
    .plat img{
        width: 250px;
    }
    .bouton-jaune2{
        font-size: 12px;
        padding: 10px 15px;
        margin-bottom: 70px;
    }


    /********SECTION 3********/
    .video-lecture-bouton{
        margin: 0;
        top: -130px;
    }
    .photos-hors-champs img{
        height: 380px;
    }


    /********SECTION 4********/
    #section4{
        margin-top: 415px;
    }
    .commandez{
        width: auto;
    }
    .commande-ubereats{
        width: auto;
        margin-left: 20%;
    }
    .commande-jadoo{
        width: auto;
        margin-left: 20%;
    }
    .livraison{
        width: auto;
        margin-left: 20%;
    }


    /********SECTION 5********/
    #section5{
        padding: 0;
    }
    .conteneur-formes{
        box-shadow: none;
    }
    .formulaire1{
        color: salmon;
    }
    .formulaire2{
        color: grey;
    }
    .forme-gauche{
        padding-left: 20px;
        padding-right: 0;
    }

    .formulaire-2-champs-inline{
        display: block;
        text-align: left;
    }
    .email{
        text-align: left;
    }
    .message{
        text-align: left;
    }
    input{
        text-align: left;
    }


    /*******FOOTER********/
    footer{
        padding-bottom: 370px;
    }
    .copyright{
        padding-bottom: 20px;
    }
    
}