html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************HEADER***********************/

header{
    height: 70px;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0%;
    padding: 20px;
    justify-content: space-between;
    z-index: 2;
}
.logo{
  margin-left: 10%;
  padding-top: 10px;
}
a{
    text-decoration: none;
    color: salmon;
    font-weight: bold;
    font-size: 25px;
}

.logo img:first-child{
    margin-right: 20px;
    max-height: 100%;
    height: 30px;
}
header nav ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding-right: 20px;
    white-space: pre;
    margin-right: 10%;
}
#menu-burger {
    display: none;
}

/* SECTION1*/

#section1{
    background-image: url("../img/illustration_principale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.souligne-texte-rose{
    background-image: url("../img/souligne_rose.svg");
    background-repeat: no-repeat;
    background-position: 10px 95%;
    margin: 40px 0 20px;
}
    
.article-1{
    height: 700px;
    margin-left: 10%;
    padding-top: 40px;
}
h3{
    font-family: "poppins-bold";
    font-size: 20px;
    color: #df6951;
}

h1{
    font-family: "volkhov-bold";
    font-size: 84px;
    color: white;
    
}
.texte-couleur-gris-1{
    font-family: "poppins-regular";
    font-size: 16px;
    color: #bfc0cd;
}
.bouton-jaune{
    color: white;
    background-color: #f1a501;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border: none;
}

/* SECTION2*/

#section2{
    justify-content: center;
    background: url(../img/decor_1.svg) no-repeat white;
    background-position: 99% 0%;
    padding: 100px;
}

/*TITRES*/
h4{
    font-family: "poppins-regular";
    font-size: 18px;
    color: #5e6282;
    text-align: center;
}
h2 {
    font: 50px "volkhov-bold";
    color: #14183e;
    text-align: center;

}

/******PLATS******/

.conteneur-elements{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.conteneur-nouveautés.conteneur-carte-en-ligne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
figure{
    width: 320px;
    align-items: center;
    justify-content: center;
}
figure img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
figcaption{
    padding: 10px;
    text-align: center;
}
.plat{
    box-shadow: 0px 0px 10px 10px rgb(121, 120, 120);
    border-radius: 30px;
}

/******MAKIS******/

.conteneur-maki{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.conteneur-carte.conteneur-carte-en-ligne{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.maki img{
    justify-content: center;
    align-items: center;
}
.maki figcaption{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.maki{
    border-radius: 30px;
    display: block;
    text-align: center;
}
.maki:hover{
    box-shadow: 0px 0px 10px 10px #df6951;
}
.decouvrir{
    text-align: center;
    margin: 20px 0px 20px 0px;
}

/*****BOUTON DECOUVRIR******/

.bouton-jaune2{
    color: white;
    background-color: #f1a501;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 15px;
}
.bouton-jaune2{
    align-content: center;
    justify-content: center;
}

/*****SECTION3*****/

#section3{
    background-image: url("../img/illustration_chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.conteneur-video img{
    margin-top: 5%;
    margin-left: 10%;
    width: 305px;
    height: 164px;
    border-radius: 15px;
}
.video-lecture-bouton{
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
    margin-left: 10%;
    top: -125px;
    left: 110px;
    background: white;
    border: white;
    border-radius: 50px;
    z-index: 1;
}
.voyage-gastronomique{
    margin-top: -50px;
}
.texte-blanc{
    max-width: 500px;
    font-family: "poppins-regular";
    font-size: 16px;
    color: white;
}

.photos-hors-champs{
    position: absolute;
    flex-wrap: wrap;
    margin: 50px 0px 0px 0px;
    display: flex;
    margin: -300px 0px;
}

/******SECTION4******/

#section4{
    padding: 20px;
    background-image: url(../img/illustration_commander.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.rapide-et-pratique{
    font: 18px "poppins-regular";
    font-weight: 600;
    color: #5e6282;
    margin-top: 350px;
    margin-left: -1500px;
}
.commandez{
    width: 500px;
    margin-left: 195px;
    text-align: left;
}
.texte-couleur-saumon {
    color: #df6951;
}

/*****COMMANDES******/

.commande-ubereats{
    display: flex;
    margin-left: 195px;
    
}
.commande-jadoo{
    display: flex;
    margin-left: 195px;
}
.livraison{
    display: flex;
    margin-left: 195px;
}

/*****........................*****/

.texte-poppins-bold{
    font-family: "poppins-bold";
    font-size: 16px;
    text-align: left;
}

.texte-gris{
    font-family: "poppins-regular";
    color: #3e3f43;
    text-align: left;
}

/*****........................*****/

.commande-ubereats img{
    width: 60px;
    height: 60px;
    border-radius: 0;
}
.commande-jadoo img{
    width: 60px;
    height: 60px;
    border-radius: 0;
}
.livraison img{
    width: 60px;
    height: 60px;
    border-radius: 0;
}
.bouton-jaune3{
    color: white;
    background-color: #f1a501;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 15px;
    margin-left: 190px;
    margin-top: 50px;
}

/*******SECTION 5******/

#section5{
    position: relative;
    padding: 80px;
    padding-bottom: 100px;
}
.conteneur-formes{
    width: 1020px;
    height: 560px;
}
.conteneur-formes{ 
    display: table;
    width: 100%;
    box-shadow: 0px 4px 61px 0px rgb(0 0 0 / 10%);
    border-radius: 30px;
    max-width: 1020px;
    margin: auto;
}
.forme-droite, .forme-gauche{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: left;
}
.forme-gauche{
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.forme-droite{
    background: url(../img/illustration_formulaire.jpg) no-repeat;
    background-size: cover;
}
.forme-droite {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.formulaire1{
    font-size: 18px;
    font-family: "poppins-bold";
    color: black;
}
.formulaire2{
    color: #8d8d8d;
    line-height: 20px;
    font-family: "poppins-regular";
    font-size: 14px;
}
.formulaire2{
    padding-top: 20px;
}

/*******CHAMPS********/

.formulaire-2-champs-inline{
    display: flex;
    margin-top: 40px;
    width: 100%;
    width: 90%;
}
.email{
    display: grid;
    margin: 30px;
    margin-left: 0px;
}
.message{
    display: grid;
    margin: 30px;
    margin-left: 0px;
}
input{
    border: none;
    border-bottom: 2px solid gray;
    width: 90%;
}
.envoyer{
    color: white;
    background-color: #007aff;;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 130px;
    box-shadow: 0px 0px 5px 5px rgb(197, 197, 197);
    font-size: 18px;
}
.envoyer:hover{
    background-color: #26da26;
}

/*******FOOTER*********/

footer{
    display: block;
    width: 100%;
    background-color: #f3f3f3;
    height: 250px;
    align-items: center;
}
.conteneur-elements{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

/**GAUCHE**/
.footer-logo{
    display: block;
    align-items: center;
    max-width: 100%;
    padding: 0 20px 0 20px;
}
.logo-1, .logo-2{
    display: inline-flex;
}
.logo-1 img{
    height: 50px;
}
.logo-2 img{
    padding-left: 20px;
    height: 40px;
}
.texte{
    font-size: 20px;
    font-family: "poppins-regular";
    color: #5e6282;
}
/**MILIEU**/
.footer-plan{
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}
.texte-titre{
    font-family: "poppins-bold";
    font-size: 21px;
}
.texte{
    font-family: "poppins-regular";
    font-size: 18px;
    color: #5e6282;
}
.restaurant, .contact{
    margin: 20px;
}
/**DROITE**/
.footer-uber{
    align-items: center;
    max-width: 100%;
    padding: 0 20px 0 20px;
}
.image-uber-eats img{
    height: 40px;
}
.bouton-google, .bouton-apple{
    padding: 10px;
    background-color: black;
    border-radius: 30px;
    color: white;
    border: none;
    transition: 0.2s;
    margin: 0 5px 0 5px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
}
.bouton-apple img{
    margin: 0 10px 0 0;
}
.bouton-google img{
    margin: 0 10px 0 0;
}



/***COPYRIGHT**/
.copyright{
    text-align: center;
    color: #5e6282;
    font-size: 14px;
}

